/*Zona común a todas las resoluciones*/
/*

/*Título de la app web*/



#pokemon-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px black;
	
}
p{
	font-size: 13px;
}
img{
	background-color: pink;
}
header {
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

/*tabla de pokemones*/





#pokeInfo{
	
}

.pokemonInfo{
	align-content: flex-end;
}
.pokeImagen{
	background-color:pink;
	margin: 10px;
	height: 80px;
}

/* ubicación y estilo de botones*/
/*
  .button {

 font-family: 'Overpass', sans-serif;
	font-size: 20px;
	color: black;
  background-color: #20b6a9;
    border-radius: 8px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    opacity: 0.80;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;	
  }
  .button:hover {opacity: 1}  
    opacity: 0.80;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;  
	}

#button-container {
	display: flex;
	flex-flow: row;
	justify-content:space-between;
}
*/
/* fin de zona común a todas las resoluciones */
/* para celulares*/
@media screen and (min-width:800px) {
	body {
		font-size:100%;
		/* ampliamos los textos si mide más de 800px */
	}
}



/* fin de la zona para más de 800px de ancho de pantalla */
/*para tablets*/
@media screen and (min-width:1200px) {
	body {
		font-size:120%;
		/* ampliamos más aún los textos si mide más de 1200px */
	}
}

/* fin de la zona para más de 1200px de ancho de pantalla */