/*Zona común a todas las resoluciones*/
body {
/* este porcentaje escala automáticamente el tamaño que le demos a los textos en em*/    
    font-size: 80%;
}
/*Título de la app web*/

#pokemon-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  border: 1px black;
}
p{
	
}
img{
	background-color: pink;
}
header {
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}

.pokeInfo{
	align-content: flex-end;
}
.pokeImagen{
	background-color: aqua;
	margin: 10px;
	
}

/* fin de zona común a todas las resoluciones */
/* para celulares*/
@media screen and (min-width:800px) {
	body {
		font-size:100%;
		/* ampliamos los textos si mide más de 800px */
	}
}



/* fin de la zona para más de 800px de ancho de pantalla */
/*para tablets*/
@media screen and (min-width:1200px) {
	body {
		font-size:120%;
		/* ampliamos más aún los textos si mide más de 1200px */
	}
}

/* fin de la zona para más de 1200px de ancho de pantalla */